*,*:before,*:after{
	padding: 0;
	margin: 0;
	border:0;
	box-sizing: border-box;
	font-size: 10px;
	font-family: Montserrat, sans-serif;
}
html, body{
	height: 100%;
}
h1{
	font-style: normal;
	font-weight: 100;
	font-size: 10em;
	line-height: 80px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}
.wrapper{
	overflow: hidden;
	transition: all .7s ease ;
	opacity: 0;
}
.wrapper.active{
	opacity: 1;
}
.page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 360px;
}

.header{
	transform: translateY(-100%);
	 transition: all .8s ease-out .3s ;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 4;
}
.header.active{
	transform: translateY(0);
}
.header__brand img{
	width: 100%;
	padding: 30px;
}
.header__call{
	display: flex;
	justify-content: flex-end;
	width: 80%
}
.header__call p, .header__call a {
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 20px;	
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration:none;
}
.header__call p{
	padding: 30px;
}
.btn{
	cursor: pointer;
}
.header__call_btn{
	width: 250px;
	height: 35px;
	margin: 30px 30px 0 10px ;
	background-color: transparent;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 1.6em;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.header__call_lang{
	margin: 30px 30px 0 0 ;
}
.header__call_lang a{
	display: block;
}
.disable{
	opacity: 0.5;
}
.navigation{
	top: 200px;
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
}
.menu{
	transform: translateY(-500%);
	transition: transform.8s  ease-out .5s , width .2s, background .2s linear;
	position: sticky;
	z-index: 5;
	list-style: none;
	display: flex;
	width: 80%;
    background: rgb(0 0 0 / 0.1);
	justify-content: space-between;
}
.menu__logo{
	transition: transform .4s  ease-out ;
	opacity: 0;
	display: none;
	left: -100%;
}
.menu.active{
	transform: translateY(0);
}
.menu li{
	padding: 15px 10%;
}
.menu li a{
	text-decoration: none;
	font-style: normal;
	font-weight: 200;
	font-size: 1.6em;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.nav-fixed .menu li{
	padding: 1%;
} 
.nav-fixed .menu__logo{
	left: 0;
	display: block;
	opacity: 1;
	z-index: 6;
}
.nav-fixed .navigation{
	position: fixed;
	top: 0;
	z-index: 5;
}
.nav-fixed .menu{
	background: #161F26;
	box-shadow: 4px 4px 15px #000;
	width: 100%;
}
.content{
	position: absolute;
	top: 100vh;
}
.content p{
	font-size: 2.5em;
	padding: 5%;
	line-height: 30px;
	color: #FFF;
}
.form{
	position: relative;
    z-index: 0;
    top: 300px;
    width: 25%;
}