*,*:before,*:after{
	padding: 0;
	margin: 0;
	border:0;
	box-sizing: border-box;
	font-size: 10px;
	/*background-color: #161F26;*/
}
html, body{
	font-family: Montserrat;
	height: 100%;
}
h1{
	font-style: normal;
	font-weight: 200;
	font-size: 14em;
	line-height: 115px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}
.content{
	background-color: #161F26;
	color: #fff;
}

.parallax__title{
	position: fixed;
	z-index: 2;
	transform: translateX(-100%);
    transition: all .8s ease-out ;
    top: 360px;
    width: 100%;
}
.parallax__title.active{
	transform: translateX(0);
}
p{
	font-size: 2.5em;
	padding: 5%;
	line-height: 30px;
}
.wrapper{
	overflow: hidden;
	transition: all .7s ease ;
	opacity: 0;
}
.wrapper.active{
	opacity: 1;
}
.page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 360px;
}
.menu{
	transform: translateY(-500%);
	transition: all .8s ease-out .5s ;
}
.menu.active{
	transform: translateY(0);
}
.header{
	transform: translateY(-100%);
	 transition: all .8s ease-out .3s ;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 4;
}
.header.active{
	transform: translateY(0);
}
.header__brand img{
	width: 100%;
	padding: 30px 0 0 40px;
}
.header__call{
	display: flex;
	justify-content: flex-end;
	width: 50%
}
.header__call p, .header__call a {
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 20px;	
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration:none;
}
.btn{
	cursor: pointer;
}
.header__call_btn{
	width: 250px;
	height: 35px;
	margin: 5% 5% 0 0 ;
	background-color: transparent;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 1.6em;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.header__call_lang{
	margin: 5% 5% 0 0 ;
}
.header__call_lang a{
	display: block;
}
.disable{
	opacity: 0.5;
}
.navigation{
	display: flex;
	justify-content: center;
	width: 100%;
}
.menu{
	position: absolute;
	z-index: 5;
	list-style: none;
	top: 200px;
	display: flex;
	width: 80%;
    background: rgb(0 0 0 / 0.1);
	justify-content: space-between;
}
.menu li{
	padding: 2% 5%;
}
.menu li a{
	text-decoration: none;
	font-style: normal;
	font-weight: 200;
	font-size: 1.6em;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


/*parallax*/
.parallax{
	flex: 1 0 100%;
	position: relative;
	overflow: hidden;
}
.parallax:after{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: #161F26;
}
.parallax__bg{
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	background: url('../img/bg.jpg') 50% 100% /cover no-repeat ;
}
.parallax__list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.parallax__list li{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style-type: none;
}
.parallax__cloud{
	position: absolute;
}
.parallax__cloud_1{
	background:url(../img/cloud/cloud_1.svg)  100% no-repeat;
	left: 5%;
	top: 15%;
	width: 116px;
	height: 50px;
}
.parallax__cloud_2{
	background:url(../img/cloud/cloud_2.svg)  100% no-repeat;
	left: 20%;
	top: 5%;
	width: 280px;
	height: 95px;
}

.parallax__cloud_3{
	background:url(../img/cloud/cloud_3.svg)  100% no-repeat;
	left: 40%;
	top: 15%;
	width: 240px;
	height: 100px;
}

.parallax__cloud_4{
	background:url(../img/cloud/cloud_4.svg)  100% no-repeat;
	left: 60%;
	top: 10%;
	width: 240px;
	height: 80px;
}
.parallax__cloud_5{
	background:url(../img/cloud/cloud_5.svg)  100% no-repeat;
	left: 75%;
	top: 15%;
	width: 245px;
	height: 80px;
}
.parallax__cloud_6{
	background:url(../img/cloud/cloud_6.svg)  100% no-repeat;
	left: 90%;
	top: 20%;
	width: 265px;
	height: 80px;
}
.parallax__ship{
	position: absolute;
	width: 100%;
	background:url(../img/ship.svg) 100% no-repeat;
	bottom: 270px;
	right:  20%;
	height: 170px;
	animation: ship 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.parallax__wave{
	position: absolute;
	left: -10%;
	bottom: -100vh;
	width: 120%;
}
.parallax__wave_1{
	background:url(../img/wave/wave_1.svg) 0 0 / auto 101% repeat-x;
	bottom: -5%;
	height: 400px;
	animation: wave 7.11111s 0.1s infinite linear;
}
.parallax__wave_2{
	background:url(../img/wave/wave_2.svg) 0 0 / auto 133% repeat-x;
	bottom: 10%;
	height: 401px;
	animation: wave 6.66667s 0.1s infinite linear;
}
.parallax__wave_3{
	background:url(../img/wave/wave_3.svg) 0 0 / auto 133% repeat-x;
	bottom: 10%;
	height: 234px;
	animation: wave 6.222222s 0.1s infinite linear;
}
.parallax__wave_4{
	background:url(../img/wave/wave_4.svg) 0 0 / auto 133% repeat-x;
	bottom: 11%;
	height: 301px;
	animation: wave 5.77778s 0.1s infinite linear;
}
.parallax__wave_5{
	background:url(../img/wave/wave_5.svg) 0 0 / auto 133% repeat-x;
	bottom: 18%;
	height: 333px;
	animation: wave 5.223332s 0.1s infinite linear;
}
.parallax__wave_6{
	background:url(../img/wave/wave_6.svg) 0 0 / auto 133% repeat-x;
	bottom: 25%;
	height: 355px;
	animation: wave 5.11111s 0.1s infinite linear;
}

@keyframes wave {
	0%{
		transform: rotateZ(0deg) translate3d(0,5%,0) rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg) translate3d(0,5%,0) rotateZ(-360deg);	
	}
}
@keyframes ship {
	0%{
		transform: translate3d(2%,0,0) rotateZ(2deg);
	}
	100%{
		transform: translate3d(-2%,0,0) rotateZ(-2deg);	
	}
}