.about-us__section{
	.co-text{
		display: none;
		background: transparent;
		color: $blue;
		text-align: right;
	}
	.about-us__image{
		flex: 50% 0 0;
		img{
			width: 90%;
			margin-top: 5%;
		}
	} 
	.about-us__content{
		p{
			margin-bottom: 3%;
		}
	}
}