
.numbers-responsive, .header__bg{
	display: none;
}

.header-body{
	z-index: 5;
	padding: 3% 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	.flex-container{
		margin: 0 auto;
		max-width: 1400px;
		width: 100%;
		align-items: center;
		justify-content: space-around;
	}

	.header__burger{display: none;}	

	.header__brand{
		.link{
			img{
				width: 100%;
			}
		}
	}
	
	.header__navigation{
		flex: 25% 0 1;	
		.navigation{
			.menu{
				@extend %d-flex;
				li{
					a{
						font-size: 1.4em;
						line-height: 24px;
						color: $dark;
						text-transform: uppercase;
						&:hover{
							color:$red;
						}
					}
				}
			}	
		}	
	}

	.header__numbers{
		@extend %d-flex;
		flex: 27% 0 1;
		>p{
			font-size: 1.2em;
			line-height: 20px;
			color: $gray;
			text-transform: uppercase;

			a{
				color: $red;
				font-size: 1.4em;
				font-weight: 500;
				&:hover{
					color: $blue;
				}
			}
		}
	}
		
	.header__btn{
		button{
			width: 250px;
			height: 40px;
			font-weight: 500;
			font-size:1.6em;
			line-height: 18px;
			text-transform: uppercase;
			color: $gray;
			border: 1px solid $blue;
			background-color: transparent;
			&:hover{
				color: $red;
				border-color: $red;
			}
		}	
	}

	.header__lang{
		display: flex;
		flex-direction: column;
		align-self: center;
		font-weight: 500;
		font-size: 1.4em;
		line-height: 16px;
		text-transform: uppercase;
		color: $blue;
		a:hover{
			color: $red;
		}
	}
}